nav{
    margin: 0;
    background-color: rgba(0, 0, 255, 0.7);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color : white;
}
.nav-links{
    width: 40%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
a{  
    text-decoration: none;
    color : black;
    cursor : pointer;
}
.login-button{
    background-color: transparent;
    border: none;
    color : white
}